<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.membercenter.mapper.MerchantQualificationDOMapper" >
  <resultMap id="BaseResultMap" type="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_category_id" property="merchantCategoryId" jdbcType="BIGINT" />
    <result column="qulification_id" property="qulificationId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="domain_id" property="domainId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_category_id, qulification_id, seller_id, content, gmt_created, gmt_modified,domain_id,status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from merchant_qualification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from merchant_qualification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" useGeneratedKeys="true" keyProperty="id" >
    insert into merchant_qualification (merchant_category_id, qulification_id, 
      seller_id, content, gmt_created, status,
      gmt_modified,domain_id)
    values (#{merchantCategoryId,jdbcType=BIGINT}, #{qulificationId,jdbcType=BIGINT}, 
      #{sellerId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, #{status}, 
      #{gmtModified,jdbcType=TIMESTAMP},#{domainId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" useGeneratedKeys="true" keyProperty="id" >
    insert into merchant_qualification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      merchant_category_id,
      <if test="qulificationId != null" >
        qulification_id,
      </if>
      seller_id,
      <if test="content != null" >
        content,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
       <if test="domainId != null" >
        domain_id,
      </if>
       <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{merchantCategoryId,jdbcType=BIGINT},
      <if test="qulificationId != null" >
        #{qulificationId,jdbcType=BIGINT},
      </if>
      #{sellerId,jdbcType=BIGINT},
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" >
    update merchant_qualification
    <set >
      <!-- <if test="merchantCategoryId != null" >
        merchant_category_id = #{merchantCategoryId,jdbcType=BIGINT},
      </if> -->
      <!-- <if test="qulificationId != null and qulificationId > 0" >
        qulification_id = #{qulificationId,jdbcType=BIGINT},
      </if> -->
      
      <if test="content != null and content != '' " >
        content = #{content,jdbcType=VARCHAR},
      </if>
      
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
     
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" >
    update merchant_qualification
    set
     
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status}
    where 1=1
    <if test="sellerId > 0">
    and seller_id = #{sellerId}
    </if>
    <if test="domainId > 0">
    and domain_id=#{domainId}
    </if>
    
     
  </update>
  <update id="updateStatusBatch"  parameterType="java.util.List">  
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update merchant_qualification
        <set>
            status=#{item.status},
            gmt_modified = #{item.gmtModified,jdbcType=TIMESTAMP}
        </set>
        where seller_id = ${item.sellerId}
    </foreach>      
</update>
  <select id="getMerchantQualification" parameterType="com.yimayhd.membercenter.client.domain.merchant.MerchantQualificationDO" resultMap="BaseResultMap">
  	select id,qulification_id,content,domain_id,seller_id from merchant_qualification
  	where domain_id=#{merchantQualification.domainId}
  	and status > 0
  	<if test="merchantQualification.sellerId != null and merchantQualification.sellerId > 0">
  		and seller_id=#{merchantQualification.sellerId}
  	</if>
  	<if test="merchantQualification.status == 2">
  	and status = 2
  	</if>
  	<if test="merchantQualification.status == 0">
  	and status <![CDATA[<]]> 100
  	</if>
  </select>
</mapper>