
<body>
<h1 class="page-title">
	<a href='' class="return-btn" onclick='history.go(-1)'>返回</a>出现错误
</h1>
<div class="alert alert-warning with-icon alertPageNote" style="width: 60%;position: fixed;top: 50%;left: 50%;margin-left: -30%;margin-top: -101px;">

    <div class="content" style="text-align: center;">
        <i class="icon-frown" style="font-size: 50px;"></i>
        <br />
  
        <div class="content" style="font-size: 10px;">
        	#if($nullTool.isNotNull($errorCode))
        		错误编码[$errorCode];
        	#end
        	
        	#if($!message) $!message #else 系统异常,请稍后再试 #end</div>
        <br/>
    </div>

</div>

</body>