/.settings
/.project
/membercenter-biz/.classpath
/membercenter-biz/.project
/membercenter-biz/.settings
/membercenter-biz/target
/membercenter-client/target
/membercenter-client/.classpath
/membercenter-client/.project
/membercenter-client/.settings
*.iml
.idea
/.idea
/membercenter-api/.settings
/membercenter-api/*.classpath
/membercenter-api/*.project
