<body id="bg-fff">

 <h1 class="page-title">
	<button class="return-btn" onclick='history.back()'></button>获取二维码
</h1> 

<script src="$resourceContextTool.getStaticResourcePath()/js/user/user.js"></script>
<form name="authCodeForm" id="$resourceContextTool.getContextPath()/user/checkAuthCodeForm"
	action="$resourceContextTool.getContextPath()/user/toDimensionCode" method="post">
	
	<div class="ipt-group" style="margin-top: 46px;">
		<label><em>手机号</em><input type="text" name="phone" value="$memeberInfo.phone" id="phone" readonly/></label>
		<label><em>验证码</em><input type="text" value="" name="authCode" id="authCode" class="sort" />
		<a id="getsmscode" href="#" class="sendcode-btn" >获取验证码</a></label>
	</div>
	
	<center>
		<input type="button" name="button" value="完成" class="submit-btn" onclick="getTwoDimension()" />
	</center>
</form>

<script>
initCheckAuthCode();

</script>
</body>
