<body id="bg-fff">
<h1 class="page-title">
	登录页
</h1> 
<script src="$resourceContextTool.getStaticResourcePath()/js/user/user.js"></script>

<form name="registerForm" action="$resourceContextTool.getContextPath()/user/toAuthCodeView" method="post">
	<div class="ipt-group">
		<label><em>手机号</em><input type="text" value="" name="phone" required="required" /></label>
	</div>
	<center>
		<input type="button" name="getAuthCodeButton" id="getAuthCodeButton" value="下一步"
			class="submit-btn"
			onclick="checkRegisterForm()"/>
		</center>
</form>

</body>