<body id="bg-fff">
<script src="$resourceContextTool.getStaticResourcePath()/js/user/user.js"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/point/point.js"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/common/jquery.qrcode.min.js"></script>

<h1 class="page-title">
	<a href="#" class="return-btn" onclick='history.go(-1)'>返回</a>我的二维码
</h1>

<div class="code-box">
	<input type="hidden" id="codeInfo" value="$codeInfo" />
	<div class="header">
		<span class="t-left">
			
		#if($nullTool.isNotNull($memeberInfo.name))

		<img src="$resourceContextTool.getStaticResourcePath()/img/userLogo.png" alt=""/>$memeberInfo.name
		
		#end
		</span> 
		<span class="t-right"><a href="#" class="link-btn" id="currentPoint" onclick='toPointDetailForm.submit()'>前期积分:--</a></span>
		<form name="toPointDetailForm" method="post" action="$resourceContextTool.getContextPath()/point/toPointDetails">
			<input type="hidden" name="merchantId" id="merchantId" value="$memeberInfo.merchantId" />
			<input type="hidden" name="userId" id="userId" value="$memeberInfo.userId" />
		</form>
	</div>
	<div class="er-img" id="code"></div>
	<p class="clearfix">
		#if ($nullTool.isNull($isFilledUserInfo) || $isFilledUserInfo == false) 
		<a href="#" class="link-btn" id="fullfilUserInfo" onclick='toFulfillUserForm.submit()'>这里有大把积分</a>
		#end
	</p>
	<div>
		<form name="toFulfillUserForm" action="$resourceContextTool.getContextPath()/user/toFullfillUserInfo" method="post">
			<input type="hidden" name="phone" id="phone" value="$memeberInfo.phone" />
			<input type="hidden" name="openId" id="openId" value="$memeberInfo.openId" />		
			<input type="hidden" name="mobileNo" id="mobileNo" value="$memeberInfo.phone" />
			<input type="hidden" name="merchantId" id="merchantId" value="$memeberInfo.merchantId" />
			<input type="hidden" name="userId" id="userId" value="$memeberInfo.userId" />
		</form>
	</div>
</div>


<script type="text/javascript">
initTwoDimension();
	
</script>

</body>