
<body id="bg-fff">
<h1 class="page-title">
	我的二维码
</h1> 

<script src="$resourceContextTool.getStaticResourcePath()/js/user/user.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/point/point.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/common/jquery.qrcode.min.js?version=$resourceContextTool.getStaticResourceVersion()"></script>

<!--  
<h1 class="page-title">
	<a href="#" class="return-btn" onclick='history.go(-1)'>返回</a>我的二维码
</h1>
-->

<div class="code-box">
	<input type="hidden" id="codeInfo" value="$codeInfo" />
	
	<div class="header">
		<span class="t-left">
	<!-- 	<img src="$resourceContextTool.getStaticResourcePath()/img/userLogo.png" alt=""/>	  -->
	会员名:
		#if($stringTool.isNotEmpty($nickName))
		<label class="labelField">$nickName</label>	
		#elseif($stringTool.isNotEmpty($phone))
		<label class="labelField">$stringTool.hideStr($stringTool.subString($phone,3,14),3,7)</label>	
		#end
		</span> 
		<span class="t-right"><a href="$resourceContextTool.getContextPath()/point/toPointDetails" class="link-btn" id="currentPoint">当前积分:--</a></span>
		
	</div>
	<div class="er-img" id="code">
	</div>
	<p class="clearfix">
		#if ($nullTool.isNull($isFilledUserInfo) || $isFilledUserInfo == false) 
		<a href="$resourceContextTool.getContextPath()/user/toFullfillUserInfo" class="link-btn" id="fullfilUserInfo">完善信息</a>
		#end
	</p>
	<div>
	
	</div>
</div>


<script type="text/javascript">
initTwoDimension();
	
</script>

</body>