
<body id="bg-fff">

<h1 class="page-title">
	<button class="return-btn" onclick='history.back()'></button>积分明细
</h1> 

<script src="$resourceContextTool.getStaticResourcePath()/js/point/point.js"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/common/iscroll.js"></script>

<input type="hidden" id="currentPage" value="1" />
<input type="hidden" name="pageNumber" id="pageNumber" value="1"/>
<input type="hidden" name="totalPage" id="totalPage" />
<input type="hidden" name="pageSize" id="pageSize" value="10"/>

<div id="wrapper">
	<div id="scroller" class="point-box">
			<ul class="pointTotal">
				<li>
					<span class="left">
						<strong >当前总积分</strong>	<br /> <br/>
					</span>
					<span class="right">
						<strong id="currentPoint"></strong><br /><br />
					</span>
				</li>
			</ul>
			<ul id="pointDetails">
				<!--<li><span class="left">hello world&nbsp; <br><em>2015-12-01</em></span><span class="right"> +9<br> <em>有效期至2016-02-09</em></span></li>-->
			</ul>
		<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">加载更多</span>
		</div>
	</div>
</div>

<script type="text/javascript">

var myScroll,pullUpEl, pullUpOffset,generatedCount = 0;

initPointDetails();

/*function back(){
	alert('333333');
	window.history.back(-1);
}*/
</script>

</body>
