<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="keywords" content="your keywords">
	<meta name="description" content="your description">
	<link rel="stylesheet" href="$resourceContextTool.getStaticResourcePath()/css/base.css?version=$resourceContextTool.getStaticResourceVersion()">
	<link rel="stylesheet" href="$resourceContextTool.getStaticResourcePath()/css/wechat.css?version=$resourceContextTool.getStaticResourceVersion()">
	<link rel="stylesheet" href="$resourceContextTool.getStaticResourcePath()/css/scroll.css?version=$resourceContextTool.getStaticResourceVersion()">
		
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/jquery.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/jquery.validate.min.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/verify.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/zepto.min.js?version=$resourceContextTool.getStaticResourceVersion()" ></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/zepto-public.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/zepto-city.js?version=$resourceContextTool.getStaticResourceVersion()" ></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/encdec.min.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
    <script src="$resourceContextTool.getStaticResourcePath()/js/common/auth.js?version=$resourceContextTool.getStaticResourceVersion()"></script>
   
</head>
<input type="hidden" name="contextPath" id="contextPath" value="$resourceContextTool.getContextPath()"/>

$screen_content

</html>

