
<script src="$resourceContextTool.getStaticResourcePath()/js/common/iscroll.js"></script>
<script src="$resourceContextTool.getStaticResourcePath()/js/point/point.js"></script>
<script type="text/javascript">

var myScroll,
	pullDownEl, pullDownOffset,
	pullUpEl, pullUpOffset,
	generatedCount = 0;
	
function pullUpAction () {
		setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
		//页号
		var currentPage = parseInt($("#pageNumber").val()) + 1;
		
		var totalPage = $("#totalPage").val();
		if(currentPage >  parseInt(totalPage)){
			return ;
		}
		
		$("#pageNumber").val(currentPage);
		
		//每页显示多少条
		var pageSize = $("#pageSize").val();
		var userId = $("#userId").val();
		var merchantId = $("#merchantId").val();
		
		//获取积分明细
		getPointDetailsByPage(currentPage, pageSize, userId, merchantId, function(
				data) {
			var isSuccessful = data.meta.success;
			if (isSuccessful == true) {
				var pointDetails = data.data.pointDetails;
				for (i in pointDetails) {
					var detailStr = " <li> <span class='left'>"
							+ pointDetails[i].source + "&nbsp; <br/><em>"
							+ pointDetails[i].createDate
							+ "</em></span><span class='right'> "
							+ pointDetails[i].type + pointDetails[i].point
							+ "<br/> <em>有效期至" + pointDetails[i].endDate
							+ "</em></span></li> ";
					$("#showPointDetailsDiv").append(detailStr);
				}
			}else{
				alert("获取积分明细错误:" + data.meta.message);
			}
			
			myScroll.refresh();	

		});	
		
		
	}, 1000);	// <-- Simulate network congestion, remove setTimeout from production!
}

function loaded() {
	pullUpEl = document.getElementById('pullUp');	
	pullUpOffset = pullUpEl.offsetHeight;
	
	myScroll = new iScroll('wrapper', {
		useTransition: true,
		onRefresh: function () {
			if (pullUpEl.className.match('loading')) {
				pullUpEl.className = '';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Pull up to load more...';
			}
		},
		onScrollMove: function () {
			if (this.y < (this.maxScrollY - 10) && !pullUpEl.className.match('flip')) {
				pullUpEl.className = 'flip';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Release to refresh...';
				this.maxScrollY = this.maxScrollY;
			} else if (this.y > (this.maxScrollY + 10) && pullUpEl.className.match('flip')) {
				pullUpEl.className = '';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Pull up to load more...';
				this.maxScrollY = pullUpOffset;
			}
		},
		onScrollEnd: function () {
			if (pullUpEl.className.match('flip')) {
				pullUpEl.className = 'loading';
				pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Loading...';				
				pullUpAction();	// Execute custom function (ajax call?)
			}
		}
	});
	
	setTimeout(function () { document.getElementById('wrapper').style.left = '0'; }, 800);
}

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>

<style type="text/css" media="all">

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

#wrapper {
	position:absolute; z-index:1;
	top:45px; bottom:48px; left:-9999px;
	width:100%;
	background:#aaa;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#myFrame {
	position:absolute;
	top:0; left:0;
}



/**
 *
 * Pull down styles
 *
 */
#pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../static/img/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}

#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

</style>
</head>
<body >
<title>积分明细</title>
<div>
	<ul>
		<li>
			<span class="left"> 
				<strong >总积分</strong>	<br /> <br/>
			</span> 
			<span class="right"> 
		   		<strong id="currentPoint"></strong><br /><br />
			</span>
		</li> 
	</ul>
</div>

<div id="wrapper">
	
	<div id="scroller">
		<ul id="pointDetails">
			
		</ul>
		<div id="pullUp">
			<span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
		</div>
		
		<input type="hidden" name="pageNumber" id="pageNumber" value="1"/>	
		<input type="hidden" name="totalPage" id="totalPage" value="$totalPage"/>	
		<input type="hidden" name="pageSize" id="pageSize" value="10"/>	
		<input type="hidden" name="merchantId" id="merchantId" value="123456789" />
		<input type="hidden" name="userId" id="userId" value="6602" />
		
	</div>
</div>

<script>
var currentPage = parseInt($("#pageNumber").val()) + 1;

var totalPage = $("#totalPage").val();

$("#pageNumber").val(currentPage);

//每页显示多少条
var pageSize = $("#pageSize").val();
var userId = $("#userId").val();
var merchantId = $("#merchantId").val();

//获取积分明细
getPointDetailsByPage(currentPage, pageSize, userId, merchantId, function(
		data) {
	var isSuccessful = data.meta.success;
	if (isSuccessful == true) {
		var pointDetails = data.data.pointDetails;
		for (i in pointDetails) {
			var detailStr = " <li> <span class='left'>"
					+ pointDetails[i].source + "&nbsp; <br/><em>"
					+ pointDetails[i].createDate
					+ "</em></span><span class='right'> "
					+ pointDetails[i].type + pointDetails[i].point
					+ "<br/> <em>有效期至" + pointDetails[i].endDate
					+ "</em></span></li> ";
			$("#showPointDetailsDiv").append(detailStr);
		}
	}else{
		alert("获取积分明细错误:" + data.meta.message);
	}

});	
</script>
</body>